.tit{
	background: #aadd55;
	padding:  .5em .5em .5em .5em;
	margin:  .5em .5em .5em .5em;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 4px 6px 14px #000000;
	text-align: center;
}
.subtit{
	background: #aadd55;
	padding:  .5em .5em .5em .5em;
	margin:  .5em .5em .5em .5em;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 4px 6px 14px #000000;
}
}